/* Define the stones */

.shudan-stone-image.shudan-sign_-1 {
  background-image: url("white_stone.png");
}

.shudan-stone-image.shudan-sign_1 {
  background-image: url("black_stone.png");
}

/* Define the subdued board -- d2ac76 is used as an approximately equal colour */

.shudan-goban {
  --shudan-board-background-color: #d2ac76;
}

.shudan-goban-image {
  background-image: url("subdued_board.png");
}

/* Black border */

.shudan-goban {
  --shudan-board-border-color: #000000;
}

/* Black player bar */

#bar {
  background: #000000;
}

/* Suppress the "tatami mat" that exists as of 0.15 */

main {
  background: #000000;
}

/* Turn down the temperature on the heatmap */

.shudan-vertex.shudan-heat_9 .shudan-heat {
  box-shadow: 0 0 0 .45em #9dd4d5;
  opacity: 0.65;
}
.shudan-vertex.shudan-heat_8 .shudan-heat {
  box-shadow: 0 0 0 .45em #88c2c9;
  opacity: 0.65;
}
.shudan-vertex.shudan-heat_7 .shudan-heat {
  box-shadow: 0 0 0 .45em #74b1bd;
  opacity: 0.65;
}
.shudan-vertex.shudan-heat_6 .shudan-heat {
  box-shadow: 0 0 0 .45em #619fb1;
  opacity: 0.65;
}
.shudan-vertex.shudan-heat_5 .shudan-heat {
  box-shadow: 0 0 0 .45em #508da4;
  opacity: 0.65;
}
.shudan-vertex.shudan-heat_4 .shudan-heat {
  box-shadow: 0 0 0 .45em #407c98;
  opacity: 0.65;
}
.shudan-vertex.shudan-heat_3 .shudan-heat {
  box-shadow: 0 0 0 .45em #336b8b;
  opacity: 0.65;
}
.shudan-vertex.shudan-heat_2 .shudan-heat {
  box-shadow: 0 0 0 .45em #275a7e;
  opacity: 0.65;
}
.shudan-vertex.shudan-heat_1 .shudan-heat {
  box-shadow: 0 0 0 .45em #1e4970;
  opacity: 0.65;
}
